@import "vars";

.main {
    padding-top: 88px;

    &__wrapper{
        display: flex;
        position: relative;
    }

    &__title {
        font-size: 50px;
        font-weight: $regular;
        color: $second-color-text;
        margin-bottom: 35px;
        line-height: 70px;
        span {
            font-weight: $bold;
        }
    }

    &__descr {
        color: $main-color-text;
        line-height: 22px;
    }

    &__img {
        width: 93%;
        img {
            position: absolute;
            display: block;
        }
}
}