@import "vars";

.services {
    padding: 95px 0;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__descr {
        width: 427px;
        margin-top: 55px;
    }

    &__title {
        font-size: 35px;
        font-weight: $bold;
        color: $second-color-text;
        margin-bottom: 25px;
        line-height: 45px;
    }

    &__text {
        color: $main-color-text;
        margin-bottom: 25px;
        line-height: 30px;
    }

    &__plus {
        color: $main-color-text;
        font-size: 14px;
    }
    p {
        margin-top: 30px;
        margin-left: 40px;
        position: relative;
        &::before {
            position: absolute;
            content: url("/images/icons/services.svg");;
            margin-left: -40px;
        }
       }
}