@import "vars";

.card {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        position:relative;
    }

    &__bye{
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        width: 330px;
        height: 760px;
        text-decoration: none;
        &:hover {
            transition: $main-transition;
            border: 2px solid $main-color;

        }
        &:hover .btm_pug{
            transition: $main-transition;
            background: $main-color;
            color: #fff;
            box-shadow: 0 30px 54px rgba(245, 56, 56, 0.35);
        }
    }

    &__img {
        margin-top: 80px;
        margin-bottom: 30px;
        padding-left: 100px;

    }

    &__title {
        font-size: 18px;
        font-weight: $medium;
        color: $second-color-text;
        margin-bottom: 30px;
        padding-left: 100px;
    }

    &__descr {
        margin-top: 20px;
        color: $main-color-text;
        padding-left: 100px;
        position: relative;
        &::before {
            position: absolute;
            content: url(/images/icons/card.svg);
            left: 60px;
        }
    }

    &__price {
        padding-left: 125px;
        position: absolute;
        bottom: 0;
        margin-bottom: 120px;
        font-size: 25px;
        color: $second-color-text;
        font-weight: $bold;
        span {
            font-weight: $medium;
            color: $main-color-text;
        }
    }
}