@import "vars";
 .footer {
     padding: 80px 0;
     
     &__logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: $medium;

        img {
            margin-right: 10px;
        }
        
        span {
            font-weight: $bold;
        }
    }

    &__descr {
        line-height: 30px;
        font-weight: $medium;
        color: $main-color-text;
        width: 340px;
        margin: 30px 0;
    }

    &__icon {
        display: inline-block;
    }
 }
 object{
    pointer-events: none;
}



.heart-icon {
    background: red;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position:relative;
    :before {
        position: absolute;
        content:'';
        border: 1px solid #000;
        width: 5px;
        height: 5px;
        top: 10px;
    }
}