@import "vars";

.footer-bg {
    background: ##E5E5E5;
}


 .footer {
     padding: 80px 0;

     &__wrapper{
        display: flex;
        justify-content: space-between;
     }
     
     &__logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: $medium;

        img {
            margin-right: 10px;
        }
        
        span {
            font-weight: $bold;
        }
    }

    &__descr {
        line-height: 30px;
        font-weight: $medium;
        color: $main-color-text;
        width: 340px;
        margin: 30px 0;
    }

    &__social {
        display: flex;
        width: 130px;
        justify-content: space-between;
    }

    &__icon {
        display: inline-block;
    }

    &__a-click {
        background: $main-color;
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    &__copy {
        color: #AFB5C0;
        margin-top: 30px;
    }
    
    &__right {
        width: 500px;
        display: flex;
        justify-content: space-between;
    }

    &__item{
        display: flex;
        flex-direction: column;
    }

    &__item-descr {
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: $medium;
    }

    &__link{
        color: $main-color-text;
        margin-bottom: 20px;
        text-decoration: none;
        &:hover {
            transition: $main-transition;
            color: $second-color-text;
        }
    }
 }
 object{
    pointer-events: none;
}