@import "vars";
 .footer {
     padding: 80px 0;
     
     &__logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: $medium;

        img {
            margin-right: 10px;
        }
        
        span {
            font-weight: $bold;
        }
    }

    &__descr {
        line-height: 30px;
        font-weight: $medium;
        color: $main-color-text;
        width: 340px;
        margin: 30px 0;
    }
 }
 object{
    pointer-events: none;
}

a {
    background: #fff;
}

.heart-icon {
    background: red;
    width: 33px;
    height: 33px;
    border-radius: 60%;
    
}