@import "vars";

form {
    padding: 40px 0 25px 0;
    input 
    {    
        width: 250px;
        height: 60px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding-left: 25px;
        box-sizing: border-box;

        ::placeholder {
            font-size: 40px;
        }
    }
}