@import "vars";

form {
    padding: 40px 0 25px 0;
    input 
    {    
        width: 250px;
        height: 60px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding-left: 25px;
        box-sizing: border-box;
        margin-right: 25px;
    }
    ::placeholder {
        font-size: 16px;
        color: $main-color-text;
    }
    :focus {
        border-color: red;
    }
}

input:focus {
    background: #000;
  }