@import "vars";

form {
    padding: 40px 0 25px 0;

    ::placeholder {
        font-size: 16px;
        color: $main-color-text;
    }
}

input:focus {
    border: 2px solid $main-color;
    color: $main-color-text;
  }

input.field {    
      width: 250px;
      height: 60px;
      border: 2px solid #DDDDDD;
      border-radius: 10px;
      padding-left: 25px;
      box-sizing: border-box;
      margin-right: 25px;
      outline: none;
  }

  input.field:focus {
    border-color: red;
}

input.yes {    
      width: 20px;
      height: 20px
}

label {
    color: $main-color-text;
}