@import "vars";

form {
    padding: 40px 0 25px 0;

    ::placeholder {
        font-size: 16px;
        color: $main-color-text;
    }
}

input:focus {
    border: 2px solid $main-color;
    color: $main-color-text;
    font-size: 16px;
  }

input.field {    
      width: 250px;
      height: 60px;
      border: 2px solid #DDDDDD;
      border-radius: 10px;
      padding-left: 25px;
      box-sizing: border-box;
      outline: none;
      font-size: 16px;
      color: $main-color-text;
      margin-right: 20px;
      display: inline;
  }

  input.field:focus {
    border-color: red;
}

input.yes {    
      width: 20px;
      height: 20px;
      border: 2px solid #DDDDDD;
      position: relative;
}

label span{
    color: $main-color-text;
    width: 300px;
    display: inline-block;
    padding-left: 20px;
    font-size: 14px;
}   

input[type=checkbox] + label {
    display: block;
    cursor: pointer;
  }

  input[type=checkbox] {
    visibility: hidden;
  width: 0;
  height: 0;
  }

  input[type=checkbox] + label:before {
    content: '';
    font-size: 14px;
    border: 1.5px solid $main-color-text;
    border-radius: 0.2em;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    color: transparent;
    transition: $main-transition;
  }

  input[type=checkbox]:checked + label:before {
    border-color: $main-color;
    color: $main-color;
    content: url(/images/icons/yes.svg);
  }

  .error {
    color: $main-color;
    display: inline;
  }