@import "vars";

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    border-radius: 20px;
    box-shadow: 0 42px 114px rgba(13,16,37,0.06);

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 268px;
        background: #fff;
        transform: translate(-50%, -50%);
    }

    &__close {
        position: absolute;    
        top: 0;
        right: 0;
        margin: 10px;
        font-size: 50px;
        color: #B2B2B2;
    }
}