@import "vars";

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 268px;
        background: #fff;
        transform: (-50% -50%);
    }
}