@import "vars";

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 268px;
        background: #fff;
        transform: translate(-50%, -50%);
        box-shadow: 0 42px 114px rgba(13,16,37,0.07);
        border-radius: 20px;
        text-align: center;
    }

    &__close {
        position: absolute;    
        top: 0;
        right: 0;
        margin: 10px;
        font-size: 50px;
        color: #B2B2B2;
    }

    &__title {
        font-size: 25px;
        font-weight: $medium;
    }

    &__descr {
        color: $main-color-text;
    }
}