@import "vars";

.slider {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 1105px;
    
    &__card {
        width: 400px;
        height: 230px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
        text-decoration: none;
        color: $second-color-text;
        margin-right: 25px !important;
        &:hover {
            transition: $main-transition;
            border: 2px solid $main-color;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        }
    }  
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__wrapper {
        display: flex;
    }

    &__img {
        margin-right: 20px;
    }

    &__name {
        font-size: 18px;
        font-weight: $medium;
    }

    &__country {
        font-size: 14px;
        font-weight: $regular;
        color: $main-color-text;
        margin-top: 5px;
    }

    &__star {
        margin-right: 30px;
        position: relative;
        &::before {
            position: absolute;
            content: url(/images/icons/star.svg);
            left: 40px;
        }
    }

    &__reviews {
        margin-top: 20px;
    }
}

